.grid {
    width: 100%;
    display: block;
    padding: 0;
}
.col {
    padding-left: 4px;
    padding-right: 4px;
}
.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}
.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}
